{{#>layout}}
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 100%; max-width:500px; min-width:500px;">
  <tbody>
    <tr style="height: 100px; line-height: 30px;">
      <td style="padding:30px 50px 0px;" colspan="2">
        <p style="font-size: 16px; color: #33353ad9;">
          Your Savvy security code is:
        </p>
      </td>
    </tr>
    <tr style="height: 50px; text-align: center;">
      <td colspan="2">
        <table border="0" cellspacing="0" cellpadding="0" style="padding: 0; margin: 0 auto;">
          <tbody>
            <tr>
              <td height="45" style="font-size: 18px; font-family: sans-serif; font-weight: bold;">
                <p
                  style="display: inline-block; margin: 0px; padding: 5px; font-size: 18px; letter-spacing: 2px; font-weight: 500; text-transform: uppercase; background: #CCCCCC;">
                  {{code}}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{{/layout}}